{
  "layer": "top",
  "position": "top",
  "height": 32,
  "modules-left": ["custom/apps", "custom/term", "sway/workspaces", "sway/mode"],
  "modules-center": ["sway/window"],
  "modules-right": ["cpu", "memory", "clock"],
  "custom/apps": {
    "format": "≡ Apps",
    "on-click": "wofi --show drun --allow-images --insensitive",
    "tooltip": false
  },
  "custom/term": {
    "format": "▢ Term",
    "on-click": "foot",
    "tooltip": false
  },
  "sway/workspaces": { "disable-scroll": true },
  "cpu": { "format": "CPU {usage}%", "interval": 3 },
  "memory": { "format": "RAM {percentage}%", "interval": 5 },
  "clock": { "format": "{:%a %d %b  %H:%M}" }
}
